.git
.gitignore
.env
.DS_Store
.editorconfig
.github/
.idea/
.vscode/
node_modules/
vendor/
npm-debug.log
yarn-error.log
storage/*.log
storage/*.sqlite
*.sql
*.sqlite
docker/
docker-compose.yml
README.md